@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Darker+Grotesque:wght@400;500;600;700;800;900&display=swap');

@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/base';
@import 'base/tyopgraphy';

@import 'layout/header';

@import 'pages/home';
@import 'pages/about';
@import 'pages/projects';

.hero__dropdown-links {
  display: none;
  list-style-type: none;
}

.hero__dropdown-links li a {
  //   display: block;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}
