.hero {
  &__center {
    position: relative;
    width: 80%;
    margin: 0 auto 13rem auto;
  }

  &__designer-img-container {
    height: 280px;
    display: flex;
    background: rgba(236, 233, 244, 1);
  }

  .image-left-box {
    width: 20%;
    height: 100%;
    background: rgba(236, 233, 244, 1);
    // background: red;
  }

  &__designer-photo-small {
    display: inline-block;
    object-fit: contain;
    height: 100%;
    min-height: 275px;
    margin-right: auto;
  }

  &__designer-photo-large {
    min-width: 100%;
    // min-height: 275px;
    // max-height: 275px;
    object-fit: cover;
    display: inline-block;
    // width: 70%;
    display: none;
    // border: 5px solid red;
  }

  &__info-center {
    width: 80%;
    margin: -10.5rem auto;
  }

  &__heading-container {
  }

  &__info-container {
    font-weight: 500;
    margin-top: 3.5rem;

    div {
      margin-bottom: 2rem;
    }
  }

  &__link {
    display: block;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid $col-primary;
    width: max-content;
  }

  &__social-icons {
    margin-top: -1rem;
  }

  &__social-link {
    font-size: 2rem;

    &:not(:nth-child(3)) {
      margin-right: 0.5rem;
    }
  }

  &__email-link {
    font-style: normal;
  }

  &__introduction p:not(:last-child) {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  &__heading-container {
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 80%;
  }

  .hero {
    &__designer-photo-large {
      display: inline-block;
    }

    &__designer-photo-small {
      display: none;
    }

    &__center {
      margin-left: 20%;
    }

    &__info-container {
      margin-left: -7.5rem;
    }

    &__info-center {
      margin-left: 5rem;
    }

    &__link {
      display: inline;
      border: none;
      font-size: 1.375rem;
      color: #5d2496;
    }

    &__link:not(:last-child) {
      margin-right: 3rem;
    }

    &__introduction {
      width: 70%;
    }

    &__absolute-reposition {
      position: absolute;
      display: flex;
      top: 2.75rem;
      right: 5%;
      height: 66%;
    }

    &__introduction {
      margin-left: -7.5rem;
      width: 46rem;
    }

    &__dropdown-link-hover-area {
      position: relative;
      height: 5rem;
    }

    &__link {
      padding-bottom: 1rem;
      height: 2rem;
      // background: red;
      // font-size: 1.375rem;
      font-weight: 600;
    }

    &__link::before {
      content: '';
      position: absolute;
      top: 2rem;
      left: -0.5rem;
      height: 1px;
      width: 7rem;
      background: #5d2496;
      // z-index: -10;
    }

    &__link-2::before {
      content: '';
      position: absolute;
      top: 2rem;
      left: 9rem;
      height: 1px;
      width: 8.75rem;
      background: #5d2496;
      // z-index: -10;
    }

    &__dropdown-links {
      position: absolute;
      top: 3rem;
      left: 0;
      font-size: 1rem;
    }

    &__dropdown-links a {
      color: #5d2496;
      letter-spacing: 4%;
    }

    &__social-link {
      font-size: 2.5rem;
    }

    &__social-icons {
      position: absolute;
      text-align: right;
      top: 15.5rem;
      width: 100%;
      right: 5%;
    }

    &__email-link {
      font-size: 1.5rem;
    }

    .image-left-box {
      min-width: 20%;
      // background: red;
    }
  }
}

@media screen and (min-width: 950px) {
  .hero__absolute-reposition {
    right: 18%;
  }

  .hero__social-icons {
    right: 18%;
  }
}
