.hero {
  &__center {
    position: relative;
    // background: yellow;
    width: 80%;
    margin: auto;
  }

  &__designer-img-container {
    max-width: 1350px;
    width: 100%;
    height: 21rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }

  &__designer-photo-small {
    width: 800px;
    min-height: 275px;
    max-height: 275px;
    object-fit: cover;
  }

  &__designer-photo-large {
    width: 100%;
    max-width: 100%;
    min-height: 275px;
    max-height: 275px;
    object-fit: cover;
    display: none;
  }

  &__info-center {
    width: 80%;
    // margin: auto;
    // @include center;
  }

  &__info-container {
    font-weight: 500;
    margin-top: 3.5rem;
    // background: green;

    div {
      margin-bottom: 2rem;
    }
  }

  &__link {
    display: block;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid $col-primary;
    width: max-content;
  }

  &__social-icons {
    margin-top: -1rem;
  }

  &__social-link {
    font-size: 2rem;

    &:not(:nth-child(3)) {
      margin-right: 0.5rem;
    }
  }

  &__email-link {
    font-style: normal;
  }

  &__introduction p:not(:last-child) {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  &__heading-container {
  }
}

@media screen and (min-width: 650px) {
  .hero {
    &__designer-photo-small {
      display: none;
    }

    &__designer-photo-large {
      display: block;
    }
  }
}

@media screen and (min-width: 800px) {
  .hero {
    &__info-center {
    }

    &__link {
      display: inline;
      border: none;
    }

    &__link:not(:last-child) {
      margin-right: 3rem;
    }

    &__introduction {
      width: 70%;
    }

    &__absolute-reposition {
      position: absolute;
      display: flex;
      top: 1rem;
      right: 0%;
      height: 66%;
    }

    &__dropdown-link-hover-area {
      position: relative;
      // background: red;
      height: 5rem;
    }

    &__link {
      // background: pink;
      height: 1.5rem;
    }

    &__link::after {
      content: '';
      position: absolute;
      top: 2rem;
      left: -0.75rem;
      height: 1px;
      width: 6rem;
      background: #53168f;
      z-index: -10;
    }

    &__link::before {
      content: '';
      position: absolute;
      top: 2rem;
      left: 7rem;
      height: 1px;
      width: 7.5rem;
      background: #53168f;
    }

    &__dropdown-links {
      position: absolute;
      top: 2rem;
      left: 0;
    }

    &__social-icons {
      position: absolute;
      text-align: right;
      top: 10.5rem;
      width: 100%;
    }
  }
}
