.hero {
  position: absolute;

  &__designer-img-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }

  &__designer-photo-small {
    max-width: 100%;
    min-height: 275px;
    max-height: 275px;
    object-fit: cover;
  }

  &__designer-photo-large {
    max-width: 100%;
    min-height: 275px;
    max-height: 275px;
    object-fit: cover;
    display: none;
  }

  &__info-center {
    max-width: 70%;
    margin: 0 auto;
  }

  &__info-container {
    font-weight: 500;
    margin-top: 3.5rem;

    div {
      margin-bottom: 2rem;
    }
  }

  &__link {
    display: block;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid $col-primary;
    width: max-content;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__social-link {
    font-size: 2.5rem;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__email-link {
    font-style: normal;
  }

  &__introduction p:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    &__designer-photo-small {
      display: none;
    }

    &__designer-photo-large {
      display: block;
    }
  }
}
