body {
  color: $col-primary;
}

// Hero heading
.test {
  font-size: 5rem;
}

.hero-header {
  font-size: 5rem;
  font-family: $font-castro;
  font-weight: 400;
  line-height: 5rem;
  margin-top: -15.75rem;
  margin-bottom: 4rem;

  &__span-1 {
    font-size: 2.25rem;
    letter-spacing: -0.11em;
  }

  &__span-2 {
    font-size: 1.75rem;
    letter-spacing: -0.11em;
    word-spacing: 0.11em;
    margin-left: -0.2em;
  }

  &__span-3 {
    font-size: 5.25rem;
    display: block;
    letter-spacing: -0.11em;
    margin-top: -1rem;
  }

  &__span-4 {
    font-size: 5.25rem;
    display: block;
    letter-spacing: -0.11em;
  }
}

.hero__introduction {
  font-size: 1rem;
}

.about {
  &__title {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0.25rem;
  }

  &__sub-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
  }

  &__paragraph {
    font-size: 1.125rem;
  }
}

.experience p {
  font-size: 1rem;
}

@media screen and (min-width: 650px) {
  .hero__heading-container {
    .hero__heading {
      .hero__heading--span-3,
      .hero__heading--span-4 {
        font-size: 5.25rem;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .hero__heading-container {
    max-width: max-content;
  }

  .hero-header {
    line-height: 6.65rem;
    margin-top: -15.75rem;
    margin-bottom: 4rem;

    &__span-1 {
      font-size: 4rem;
    }

    &__span-2 {
      font-size: 3rem;
    }

    &__span-3 {
      font-size: 7.5rem;
    }

    &__span-4 {
      font-size: 7.5rem;
    }

    .about {
      &__title {
        font-size: 3rem;
      }

      &__sub-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.75rem;
      }

      &__paragraph {
        font-size: 1.5rem;
      }
    }

    .experience p {
      font-size: 1.5rem;
      font-style: normal;
    }
  }

  .hero__introduction {
    font-size: 1.5rem;
  }
}
